<div id="dynabolt-removal" class="services-banner-comp">
  <div class="services-banner-comp__content-box">
    <div class="services-text-box">
      <h1 class="services-text-box__heading heading heading--2">
        <span class="text-bold text-red">Dynabolt</span>
        Removal
      </h1>
      <h3 class="services-text-box__sub-heading heading heading--3">
        Experienced Technicians, Customer Satisfaction Guaranteed
      </h3>
      <div class="services-text-box__description">
        <p class="paragraph paragraph--1">
          Our company specializes in efficient dynabolt removal, using advanced
          tools to ensure precision and minimal disruption. Whether for tough
          installations or a smooth surface, our expert team delivers quick,
          safe, and reliable results.
        </p>
      </div>
      <div class="services-text-box__footer">
        <a
          href="https://removedynabolt.com.au"
          target="_blank"
          class="btn btn--4"
        >
          Find Out More
        </a>
      </div>
    </div>
  </div>
  <div class="services-banner-comp__img-box">
    <video
      class="services-banner-comp__img-box__item"
      src="/videos/dynabolt-video.mp4"
      [autoplay]="true"
      [loop]="true"
      [muted]="true"
    ></video>
  </div>
</div>
