@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }

  80% {
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(4rem);
  }

  100% {
    transform: translateY(0);
  }
}
