.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;

  &--1 {
    background-color: $blue--2;
    border-radius: 0.3rem;
    color: $white--1;
    padding: 1.1rem 3rem 1.4rem 3rem;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: $blue--1;
      color: $white--1;
      scale: 1.05;
    }
  }
}
