<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>makegoodteamservices.com.au</SiteUrlToLaunchAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>8047010a-1aef-4ce3-a88f-dd434bf9dd73</ProjectGuid>
		<SelfContained>false</SelfContained>
		<MSDeployServiceURL>https://w29.winhost.com:8172/MsDeploy.axd</MSDeployServiceURL>
		<DeployIisAppPath>makegoodteamservices.com.au</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
		<UserName>makegood</UserName>
		<_SavePWD>true</_SavePWD>
		<_TargetId>IISWebDeploy</_TargetId>
		<TargetFramework>net8.0</TargetFramework>
		<EnvironmentName>Production</EnvironmentName>
	</PropertyGroup>
	<ItemGroup>
		<Content Include="EmailTemplates\**" CopyToPublishDirectory="Always" />
	</ItemGroup>
</Project>