<div class="services-banner-comp">
  <div class="services-banner-comp__text-container">
    <div class="services-text-box">
      <div class="services-text-box__heading">
        <h1 class="heading heading--2">
          <span class="bold">Totally</span> <br />
          Customizable
        </h1>
      </div>
      <div class="services-text-box__sub-heading">
        <h3 class="heading heading--3">
          WordPress just got so much easier with <span class="bold">STAX.</span>
        </h3>
      </div>
      <div class="services-text-box__description">
        <p class="paragraph paragraph--1">
          The WordPress Full-Site Editor provides you with complete control over
          your entire website design. Change global fonts and colors. Customize
          your header and footer. Modify page templates and layouts. Implement
          block patterns. The possibilities are truly endless.
        </p>
      </div>
    </div>
  </div>
  <div class="services-banner-comp__image-container">
    <img
      class="services-banner-comp__image-container__item"
      src="/images/callout-01.jpg"
      alt="services-banner-image"
    />
  </div>
</div>
