<div class="main-banner-comp">
  <div class="main-banner-comp__container">
    <div class="container container--2">
      <div class="main-banner-comp__text-box">
        <div class="banner-heading">
          <h1 class="banner-heading__main">Make Good Team Services</h1>
          <h2 class="banner-heading__sub">
            Reliable, Professional and On Time.
          </h2>
        </div>
        <div class="banner-paragraph">
          Our team of experts, armed with professional tools, is dedicated to
          providing the most efficient and effective solutions to fulfill our
          clients' requirements.
        </div>
        <div class="banner-footer">
          <a href="#" class="btn btn--1">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
