<div class="footer-comp">
  <div class="container container--2">
    <div class="footer-comp__container">
      <div class="footer-comp__top-box">
        <div class="footer-comp__top-box__left-text-box">
          <h3
            class="footer-comp__top-box__left-text-box__heading heading heading--3"
          >
            ABOUT <span class="bold">STAX</span>
          </h3>
          <ul class="footer-comp__top-box__left-text-box__list">
            <li>
              <a href="#" class="footer-comp__top-box__left-text-box__item">
                Block-Based Theme
              </a>
            </li>
            <li>
              <a href="#" class="footer-comp__top-box__left-text-box__item">
                Full Site Editing
              </a>
            </li>
            <li>
              <a href="#" class="footer-comp__top-box__left-text-box__item">
                Page Templates
              </a>
            </li>
            <li>
              <a href="#" class="footer-comp__top-box__left-text-box__item">
                Patterns
              </a>
            </li>
            <li>
              <a href="#" class="footer-comp__top-box__left-text-box__item">
                Pricing
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-comp__top-box__right-text-box">
          <h3
            class="footer-comp__top-box__right-text-box__heading heading heading--3"
          >
            OUR MISSION
          </h3>
          <p
            class="footer-comp__top-box__right-text-box__description paragraph paragraph--2"
          >
            Organic Themes humanizes products, brands, and processes. We take
            the complicated, and make it simple and accessible. Ultimately, our
            goal is to provide tools to empower people to build online business
            and free themselves from the chains of the corporate world.
          </p>
          <div class="footer-comp__top-box__right-text-box__button">
            <a href="#" class="btn btn--3">READ OUR STORY</a>
          </div>
        </div>
      </div>
      <div class="footer-comp__bottom-box">
        <div class="footer-comp__bottom-box__left-text-box">
          <img
            src="/images/make-good-logo.png"
            alt="Make Good Logo"
            class="footer-comp__bottom-box__left-text-box__logo"
          />
          <div
            class="footer-comp__bottom-box__left-text-box__description paragraph paragraph--2"
          >
            Copyright © 2025 · All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
