.footer-comp {
  background-color: $gray--2;
  padding: 6rem 0 2rem 0;

  &__container {
  }

  &__top-box {
    display: flex;

    .left-box {
      flex: 1.4;

      &__heading {
        color: $white--1;
      }

      .footer-menu {
        margin-top: 1.8rem;
        list-style: none;

        &__item {
          display: block;
          color: $green--1;
          margin: 1.2rem 0;
        }
      }
    }

    .right-box {
      flex: 1;

      &__heading {
        color: $white--1;
        margin-bottom: 2rem;
      }

      &__description {
        line-height: 1.6;
      }

      &__button {
        margin-top: 3.6rem;
        width: 35%;
      }
    }
  }

  &__bottom-box {
    color: $white--1;
    margin-top: 7rem;
  }
}
