.services-banner-comp {
  display: flex;
  margin-top: 12rem;

  &__content-box {
    align-items: center;
    background-color: $white--3;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 25rem 0;

    .services-text-box {
      width: 77%;

      &__heading {
        margin-bottom: 1.8rem;
        line-height: 1;
      }

      &__sub-heading {
        margin-bottom: 1.8rem;
      }

      &__description {
        margin-bottom: 5rem;
      }
    }
  }

  &__img-box {
    flex: 1;
    overflow: hidden;
    position: relative;

    &__item {
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
