.services-card-comp {
  margin-top: -6rem;
  position: relative;
  z-index: 20;

  &__container {
    margin: 0 auto;
    max-width: 150rem;
  }

  .services-card-list {
    column-gap: 5rem;
    display: flex;
    list-style: none;

    .services-card-item {
      animation: slideInBottom 0.5s ease-out;
      animation-fill-mode: backwards;
      background-color: $white--1;
      border-radius: 1.5rem;
      box-shadow: 0 0 2rem 0.2rem rgba(black, 0.2);
      padding: 3.6rem;

      &__icon {
        display: flex;
        font-size: 5rem;
        justify-content: center;
        margin-bottom: 2.4rem;

        .fa-screwdriver-wrench {
          color: #d50000;
        }

        .fa-virus {
          color: #70c370;
        }

        .fa-puzzle-piece {
        }
      }

      &__heading {
        text-align: center;
        margin-bottom: 4rem;
      }

      &__description {
        text-align: justify;
        margin-bottom: 2.4rem;
      }

      &__footer {
      }

      $cardItems: 5;
      @for $i from 0 to $cardItems {
        &:nth-child(#{$i + 1}) {
          animation-delay: calc(0.25s * $i);
        }
      }
    }
  }
}
