.services-card-comp {
  margin-top: -6rem;
  position: relative;
  z-index: 20;

  &__container {
  }

  .services-card-list {
    column-gap: 5rem;
    display: flex;
    list-style: none;

    .services-card-item {
      animation: slideInBottom 0.5s ease-out;
      animation-fill-mode: backwards;
      background-color: $white--1;
      border-radius: 1rem;
      box-shadow: 0 0 2rem 0.2rem rgba(black, 0.2);
      padding: 3.6rem;

      &__icon {
        display: flex;
        font-size: 5rem;
        justify-content: center;
        margin-bottom: 2.4rem;

        .fa-screwdriver-wrench {
          color: $red--1;
        }

        .fa-virus {
          color: $green--1;
        }

        .fa-puzzle-piece {
        }
      }

      &__heading {
        position: relative;
        text-align: center;
        margin-bottom: 4rem;

        &::after {
          background-color: $blue--2;
          content: "";
          display: block;
          height: 3px;
          left: 50%;
          position: absolute;
          top: calc(100% + 5px);
          transform: translateX(-50%);
          width: 40%;
        }
      }

      &__img-box {
        border: solid 2px $blue--1;
        height: 25vh;
        margin-bottom: 1.5rem;
        overflow: hidden;
        position: relative;

        & > a {
          display: contents;

          & > img {
            display: block;
            height: 100%;
            left: 0;
            object-fit: cover;
            position: absolute;
            top: 0;
            width: 100%;
          }
        }
      }

      &__description {
        text-align: center;
        margin-bottom: 2.4rem;
      }

      &__footer {
        display: flex;

        * {
          flex: 1;
        }
      }

      $cardItems: 5;
      @for $i from 0 to $cardItems {
        &:nth-child(#{$i + 1}) {
          animation-delay: calc(0.25s * $i);
        }
      }
    }
  }
}
