.services-banner-comp {
  display: flex;
  margin-top: 12rem;

  &__text-container {
    align-items: center;
    background-color: $white--3;
    display: flex;
    flex: 1;
    justify-content: center;

    .services-text-box {
      width: 77%;

      &__heading {
        margin-bottom: 1.8rem;
        line-height: 1;
      }

      &__sub-heading {
        margin-bottom: 1.8rem;
      }

      .bold {
        font-weight: 700;
      }
    }
  }

  &__image-container {
    &__item {
      height: 100%;
      width: 100%;
    }

    flex: 1;
  }
}
