<div class="services-card-comp">
  <div class="services-card-comp__container">
    <ul class="services-card-list">
      <li class="services-card-item">
        <div class="services-card-item__icon">
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </div>
        <h2 class="services-card-item__heading heading heading--1">
          Dynabolt Removal
        </h2>
        <p class="services-card-item__description paragrapph paragraph--1">
          Our experts equipped with professional tools, we are commited to
          delivering the most efficient and effective solutions to meet our
          clients' needs.
        </p>
        <div class="services-card-item__footer">
          <a href="#" class="btn btn--2">LEARN MORE</a>
        </div>
      </li>
      <li class="services-card-item">
        <div class="services-card-item__icon">
          <i class="fa-solid fa-virus"></i>
        </div>
        <h2 class="services-card-item__heading heading heading--1">
          Mould Remediation
        </h2>
        <p class="services-card-item__description paragrapph paragraph--1">
          Our company provides expert mould removal services, eliminating mould
          at the source and preventing regrowth, all backed by a 12-month
          warranty.
        </p>
        <div class="services-card-item__footer">
          <a href="#" class="btn btn--2">LEARN MORE</a>
        </div>
      </li>
      <li class="services-card-item">
        <div class="services-card-item__icon">
          <i class="fa-solid fa-hammer"></i>
        </div>
        <h2 class="services-card-item__heading heading heading--1">
          General Makegoods
        </h2>
        <p class="services-card-item__description paragrapph paragraph--1">
          Our technician specialises in a wide range of property restoration and
          maintenance services, including brick cleaning, NawKaw, window scratch
          removal, etc.
        </p>
        <div class="services-card-item__footer">
          <a href="#" class="btn btn--2">LEARN MORE</a>
        </div>
      </li>
    </ul>
  </div>
</div>
