<div class="services-card-comp">
  <div class="container container--2">
    <ul class="services-card-list">
      <li class="services-card-item">
        <div class="services-card-item__icon">
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </div>
        <h2 class="services-card-item__heading heading heading--1">
          Dynabolt Removal
        </h2>
        <p class="services-card-item__description paragrapph paragraph--1">
          DRS (Dynabolt Removal Service) offers expert dynabolt removal from
          concrete/masonry for commercial and industrial sites. Using advanced
          tools, we ensure safe, fast extraction and surface restoration,
          meeting OH&S standards.
        </p>
        <div class="services-card-item__footer">
          <a href="#" class="btn btn--2">LEARN MORE</a>
        </div>
      </li>
      <li class="services-card-item">
        <div class="services-card-item__icon">
          <i class="fa-solid fa-virus"></i>
        </div>
        <h2 class="services-card-item__heading heading heading--1">
          Mould Remediation
        </h2>
        <p class="services-card-item__description paragrapph paragraph--1">
          Mould Remediation provides expert mould removal for homes and
          businesses. Using eco-friendly techniques, our certified team
          eliminates mould, addresses moisture sources, and prevents regrowth,
          ensuring safe, lasting results with a 12-month warranty.
        </p>
        <div class="services-card-item__footer">
          <a href="#" class="btn btn--2">LEARN MORE</a>
        </div>
      </li>
      <li class="services-card-item">
        <div class="services-card-item__icon">
          <i class="fa-solid fa-puzzle-piece"></i>
        </div>
        <h2 class="services-card-item__heading heading heading--1">
          General Makegood
        </h2>
        <p class="services-card-item__description paragrapph paragraph--1">
          General Makegood provides expert property restoration and maintenance
          services, including brick cleaning, brick washing, etc. . Our skilled
          team uses eco-friendly methods to restore surfaces, remove stains, and
          ensure safe, compliant spaces for homes and businesses, backed by a
          12-month warranty.
        </p>
        <div class="services-card-item__footer">
          <a href="#" class="btn btn--2">LEARN MORE</a>
        </div>
      </li>
    </ul>
  </div>
</div>
