<div class="mould-section">
  <div class="container container--2">
    <div class="mould-section__container">
      <div class="mould-section__text-box">
        <div class="mould-section__logo-box">
          <img
            class="mould-section__logo-box__logo"
            src="/images/logos/mould-logo.png"
            alt="Mould Remediation Logo"
          />
        </div>
        <p class="paragraph paragraph--1 mould-section__description">
          Breathe easier with our expert mould remediation services. <br />
          We identify, remove, and prevent mould growth to keep your home
          healthy and safe.
        </p>
      </div>
      <ul class="treatment-list">
        <li class="treatment-list__item">
          <app-image-compare
            [beforeUrl]="'/images/mould-images/3--before.jpg'"
            [afterUrl]="'/images/mould-images/3--after.jpg'"
          ></app-image-compare>
        </li>
        <li class="treatment-list__item">
          <app-image-compare
            [beforeUrl]="'/images/mould-images/1--before.jpg'"
            [afterUrl]="'/images/mould-images/1--after.jpg'"
          ></app-image-compare>
        </li>
        <li class="treatment-list__item">
          <app-image-compare
            [beforeUrl]="'/images/mould-images/2--before.jpg'"
            [afterUrl]="'/images/mould-images/2--after.jpg'"
          ></app-image-compare>
        </li>
        <li class="treatment-list__item">
          <app-image-compare
            [beforeUrl]="'/images/mould-images/4--before.jpg'"
            [afterUrl]="'/images/mould-images/4--after.jpg'"
          ></app-image-compare>
        </li>
      </ul>
    </div>
  </div>
</div>
