<div class="slogan-panel">
  <div class="container container--2">
    <div class="slogan-panel__container">
      <div class="left-box">
        <h1 class="slogan-panel__heading heading heading--1">
          Speed, Affordable, Professional Team.
        </h1>
        <p class="slogan-panel__paragraph">
          Our experts equipped with professional tools, we are commited to
          delivering the most efficient and effective solutions to meet our
          clients' needs.
        </p>
      </div>
      <div class="right-box">
        <a href="#contact-section" class="btn btn--3">Contact Us</a>
      </div>
    </div>
  </div>
</div>
