<div class="services-card-comp">
  <div class="container container--2">
    <ul class="services-card-list">
      <li class="services-card-item">
        <div class="services-card-item__icon">
          <i class="fa-solid fa-screwdriver-wrench"></i>
        </div>
        <h2 class="services-card-item__heading heading heading--1">
          Professional <br />
          Dynabolt Removal
        </h2>
        <div class="services-card-item__img-box">
          <img src="/images/dynabolt-card.webp" alt="Dynabolt Removal" />
        </div>
        <p class="services-card-item__description paragrapph paragraph--1">
          Our experts equipped with professional tools, we are commited to
          delivering the most efficient and effective solutions to meet our
          clients' needs.
        </p>
        <div class="services-card-item__footer">
          <a href="#dynabolt-removal" class="btn btn--2">LEARN MORE</a>
        </div>
      </li>
      <li class="services-card-item">
        <div class="services-card-item__icon">
          <i class="fa-solid fa-virus"></i>
        </div>
        <h2 class="services-card-item__heading heading heading--1">
          Construction Frame Mould Remediation
        </h2>
        <div class="services-card-item__img-box">
          <img src="/images/mould-card.webp" alt="Mould Remediation" />
        </div>
        <p class="services-card-item__description paragrapph paragraph--1">
          Your building’s frame is its backbone. Our mould remediation targets
          damage at the root, restoring strength and keeping your property safe
          and mould-free.
        </p>
        <div class="services-card-item__footer">
          <a href="#mould-remediation" class="btn btn--2">LEARN MORE</a>
        </div>
      </li>
      <li class="services-card-item">
        <div class="services-card-item__icon">
          <i class="fa-solid fa-hammer"></i>
        </div>
        <h2 class="services-card-item__heading heading heading--1">
          General <br />
          Make Goods
        </h2>
        <div class="services-card-item__img-box">
          <img src="/images/brick-cleaning-card.webp" alt="Brick Cleaning" />
        </div>
        <p class="services-card-item__description paragrapph paragraph--1">
          Our technician specialises in a wide range of property restoration and
          maintenance services, including brick cleaning, NawKaw, window scratch
          removal, etc.
        </p>
        <div class="services-card-item__footer">
          <a href="#general-make-good" class="btn btn--2">LEARN MORE</a>
        </div>
      </li>
    </ul>
  </div>
</div>
