<div id="general-make-good" class="make-good-comp">
  <div class="container container--2">
    <div class="make-good-comp__top-box">
      <div class="text-box">
        <div class="text-box__heading heading heading--2">
          General <span class="text-bold">Make Goods</span>
        </div>
        <p class="text-box__description">
          We provide expert General Make Good services, including brick
          cleaning, graffiti removal, NawKaw colour repair, pressure cleaning,
          window scratch removal, timber treatment, and stainless steel
          polishing for a clean, restored finish.
        </p>
      </div>
    </div>
    <div class="make-good-comp__bottom-box">
      <ul class="services-list">
        <li class="services-item">
          <img
            src="/images/make-good-images/brick-cleaning.webp"
            alt="01"
            class="services-item__bg-image"
          />
          <div class="text-box">
            <h3 class="text-box__heading heading heading--1">Brick Cleaning</h3>
            <p class="text-box__description paragraph paragraph--2">
              Restorative, Thorough, Specialized, Surface-safe
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/pressure-cleaning.webp"
            alt="01"
            class="services-item__bg-image"
          />
          <div class="text-box">
            <h3 class="text-box__heading heading heading--1">
              Pressure Cleaning
            </h3>
            <p class="text-box__description paragraph paragraph--2">
              Driveway, garages, handover cleaning
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/nawkaw.webp"
            alt="01"
            class="services-item__bg-image"
          />
          <div class="text-box">
            <h3 class="text-box__heading heading heading--1">NawKaw</h3>
            <p class="text-box__description paragraph paragraph--2">
              Fixing bricks and morta colour
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/window-cleaning.webp"
            alt="01"
            class="services-item__bg-image"
          />
          <div class="text-box">
            <h3 class="text-box__heading heading heading--1">
              Windows Scratches Removal
            </h3>
            <p class="text-box__description paragraph paragraph--2">
              Precise, Clear, Professional, Damage-free
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/frame-treatment.webp"
            alt="01"
            class="services-item__bg-image"
          />
          <div class="text-box">
            <h3 class="text-box__heading heading heading--1">
              Wooden Frames treatments
            </h3>
            <p class="text-box__description paragraph paragraph--2">
              Protective, Restorative, Polished, Durable
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/steel-polishing.webp"
            alt="01"
            class="services-item__bg-image"
          />
          <div class="text-box">
            <h3 class="text-box__heading heading heading--1">
              Stainless Steel Polishing
            </h3>
            <p class="text-box__description paragraph paragraph--2">
              Doors handles, sinks, etc.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
