<div id="general-make-good" class="make-good-comp">
  <div class="container container--2">
    <div class="make-good-comp__top-box">
      <div class="text-box">
        <div class="text-box__heading heading heading--2">
          General <span class="text-bold">Make Goods</span>
        </div>
        <p class="text-box__description">
          We provide expert General Make Good services, including brick
          cleaning, graffiti removal, NawKaw colour repair, pressure cleaning,
          window scratch removal, timber treatment, and stainless steel
          polishing for a clean, restored finish.
        </p>
      </div>
    </div>
    <div class="make-good-comp__bottom-box">
      <ul class="services-list">
        <li class="services-item" *ngFor="let item of ourServices">
          <app-service-item-card
            [imgUrl]="item.imgUrl"
            [heading]="item.heading"
          >
            {{ item.description }}
          </app-service-item-card>
        </li>
      </ul>
    </div>
  </div>
</div>
