<div class="make-good-comp">
  <div class="container container--2">
    <div class="make-good-comp__top-box">
      <div class="text-box">
        <div class="text-box__heading heading heading--2">
          <span class="text-bold">Portfolio</span> Block
        </div>
        <p class="text-box__description">
          Block displays a portfolio layout from a selected post type.
          Additionally, the block features the option to filter posts by their
          title or category. It's an excellent tool for artists, designers, and
          agencies to showcase their work.
        </p>
      </div>
    </div>

    <div class="make-good-comp__bottom-box">
      <ul class="services-list">
        <li class="services-item">
          <img
            src="/images/make-good-images/01.jpg"
            alt="01"
            class="services-item__bg-image"
          />

          <div class="services-item__overlay"></div>

          <div class="services-item__text-box">
            <h3 class="services-item__text-box__heading heading heading--1">
              12 Alternative Lifestyle Brands We Love
            </h3>

            <p
              class="services-item__text-box__description paragraph paragraph--2"
            >
              Blog, Branding, Featured, Inspiration
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/02.jpg"
            alt="01"
            class="services-item__bg-image"
          />

          <div class="services-item__overlay"></div>

          <div class="services-item__text-box">
            <h3 class="services-item__text-box__heading heading heading--1">
              Our New Office Downtown
            </h3>

            <p
              class="services-item__text-box__description paragraph paragraph--2"
            >
              Blog, Featured
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/03.jpg"
            alt="01"
            class="services-item__bg-image"
          />

          <div class="services-item__overlay"></div>

          <div class="services-item__text-box">
            <h3 class="services-item__text-box__heading heading heading--1">
              Agency Launches A New VR Experience
            </h3>

            <p
              class="services-item__text-box__description paragraph paragraph--2"
            >
              Blog, Featured
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/04.jpg"
            alt="01"
            class="services-item__bg-image"
          />

          <div class="services-item__overlay"></div>

          <div class="services-item__text-box">
            <h3 class="services-item__text-box__heading heading heading--1">
              An Interview With Our Lead Designer
            </h3>

            <p
              class="services-item__text-box__description paragraph paragraph--2"
            >
              Blog, Featured
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/05.jpg"
            alt="01"
            class="services-item__bg-image"
          />

          <div class="services-item__overlay"></div>

          <div class="services-item__text-box">
            <h3 class="services-item__text-box__heading heading heading--1">
              The House On The Borderland
            </h3>

            <p
              class="services-item__text-box__description paragraph paragraph--2"
            >
              Blog, Featured
            </p>
          </div>
        </li>
        <li class="services-item">
          <img
            src="/images/make-good-images/06.jpg"
            alt="01"
            class="services-item__bg-image"
          />

          <div class="services-item__text-box">
            <h3 class="services-item__text-box__heading heading heading--1">
              The Power Of One
            </h3>

            <p
              class="services-item__text-box__description paragraph paragraph--2"
            >
              Blog, Featured, Uncategorized
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
